:root {
  --main-color: #c8be42;
  --secondary-color: #104a6d;
  --accent-1-color: #d96566;
  --accent-2-color: #2990a9;
  --brand-font-family: "Cherry Swash", cursive;
  --heading-font-family: "Shanti", sans-serif;
  --default-font-family: "Shanti", sans-serif;
}

h1 {
  font-family: var(--brand-font-family);
  font-size: 250px;
  line-height: 200px;
  color: var(--main-color);
  opacity: 70%;
  text-align: right;
  padding-top: 50px;
}

h2 {
  text-transform: lowercase;
  font-size: 70px;
}

h3 {
  color: var(--accent-2-color);
}

p {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 18px;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.back-ground-image {
  background-image: url("/images/first-aid-kit-header-image.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul {
  list-style: none;
  padding-top: 25px;
  justify-content: end;
}

nav li a {
  margin: 50px;
  font-family: var(--heading-font-family);
  font-size: 20px;
  color: var(--main-color);
}

.about-section,
.music-section,
.show-section {
  padding: 50px;
}

.about-section h2 {
  color: var(--main-color);
}

.music-section h2 {
  color: var(--accent-2-color);
}

.show-section h2 {
  color: var(--accent-1-color);
}

.music-section img {
  height: 300px;
  margin-bottom: 25px;
}
.about-section {
  background-color: var(--accent-1-color);
}
.show-section {
  background-color: var(--accent-2-color);
  color: var(--main-color);
  text-transform: lowercase;
}
.btn-brand {
  background-color: var(--secondary-color);
  color: var(--accent-2-color);
}

@media (max-width: 920px) {
  .back-ground-image {
    background-image: url("/images/first-aid-kit-header-image.png");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
    color: var(--main-color);
    text-align: left;
  }

  nav ul {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 0px;
  }

  nav li a {
    font-family: var(--heading-font-family);
    font-size: 18px;
    color: var(--main-color);
    margin: 20px;
  }

  h3 {
    font-size: 18px;
  }
}
